
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Editors/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid col-12">
        <h1>Chief Editor Panel</h1>
        <hr />
        <button class="btn btn-primary" onclick="window.location='/Editors/ContentManagement/Index'">Content Management</button>
    </div>