@using SportBox7.Areas.Editors.ViewModels.Content
@model RawArticleViewModel
@{
    ViewData["Title"] = "RawNewsDetails";
    Layout = "~/Areas/Editors/Views/Shared/_Layout.cshtml";
}

<h1>@Model.H1Tag</h1>
<hr />
<div class="col-md-12">
    @Model.Body
</div>
<br />
<button class="btn btn-primary" onclick="window.location='/Editors/ExternalNewsSources/LoadRawArticleAsDraft/@Model.Id'">Load as draft</button>
<br />
<br />
<button class="btn btn-primary" onclick="window.location='/Editors/ExternalNewsSources/NewsFeed'">Back to newsfeed</button>
