@model KeyValuePair<string, string>[]

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{ 
        foreach (KeyValuePair<string, string> cookie in Model)
        {
        <p>@cookie.Key => @cookie.Value</p>
        }

    }

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
