
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Editors/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panel</h1>


<button class="btn btn-primary" onclick="window.location='/Editors/Users/AllUsers'">Users Administrtion</button>
<button class="btn btn-primary" onclick="window.location=''">Content Management</button>
<button class="btn btn-primary" onclick="window.location=''">Site Management</button>
