@using SportBox7.Areas.Editors.ViewModels.Content
@model ICollection<AllArticlesViewModel>
@{
    ViewData["Title"] = "AllDrafts";
    Layout = "~/Areas/Editors/Views/Shared/_Layout.cshtml";
}

<h1>Your Drafts</h1>
<hr />
<button class="btn btn-primary" onclick="window.location='/Editors/ContentManagement/AddNewDraft'">Add new draft</button>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    @foreach (var draft in Model)
    {
        <tr>
            <td>@draft.CreationDate.ToShortDateString()</td>
            <td>@draft.Title</td>
            <td>@draft.Category</td>
            <td>
                <a href="/Editors/ContentManagement/DeleteDraft/@draft.Id">Delete</a> | <a href="/Editors/ContentManagement/EditDraft/@draft.Id">View and Edit</a>
                | <a href="/Editors/ContentManagement/PublishArticle/@draft.Id">Publish</a>
            </td>
        </tr>
    }
</table>

<button class="btn btn-primary" onclick="window.location='/Editors/ContentManagement/Index'">Content Management Panel</button>
