
@{
    ViewData["Title"] = "NotPermitted";
    Layout = "~/Areas/Editors/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid col-12">
        <h1>This operation is not permitted!</h1>
        <hr />
        <button class="btn btn-primary" onclick="window.location='/Editors/Authors/Index'">Authors Panel</button>
    </div>