
@{
    ViewData["Title"] = "NotPermitted";
    Layout = "~/Areas/Editors/Views/Shared/_Layout.cshtml";
}

<h1>This operation is not permitted!</h1>
<hr />
<button class="btn btn-primary" onclick="window.location='/Editors/Authors/Index'">Authors Panel</button>
