@using SportBox7.Areas.Editors.ViewModels.Content
@model ICollection<AllArticlesViewModel>
@{
    ViewData["Title"] = "PublishedArticles";
    Layout = "~/Areas/Editors/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid col-12">
        <h1>Published Articles</h1>
        <hr />
        <br />
        <table class="table table-bordered">
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Category</th>
            </tr>
            @foreach (var draft in Model)
            {
                <tr>
                    <td>@draft.CreationDate.ToShortDateString()</td>
                    <td>@draft.Title</td>
                    <td>@draft.Category</td>
                </tr>
            }
        </table>

        <button class="btn btn-primary" onclick="window.location='/Editors/Authors/Index'">Authors Panel</button>
    </div>